<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			
		<ul class="states" >
			<% if !@update_password %>
				<h1>修改部门雇员</h1>
					<%= render 'form'%>
				</ul>
			<% else %>
				<h1>修改个人密码</h1>
					<%= render 'form'%>
				</ul>
			<% end %>
			
		</article>
	</div>
</div>
