<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<h1><%= display_notice_and_alert %></h1>
			
		<ul class="states" >
			<h1><%= t("department.create_department_employee") %></h1>
				<%= render 'form'%>
			</ul>
			
		</article>
	</div>
</div>