<div class="tabs">
	<div id="tab-1" class="tab">
		<article>
			<div class="text-section">
				<h1><p id="notice"><%= notice %></p></h1>
			</div>
			
		<ul class="states" >
			<h1>单个OKR得分组成</h1>
				难度系数 x 完成情况 x 占比 = 单个OKR得分
		</ul>
		<br>
		<ul class="states" >
			<h1>个人月OKR总得分组成</h1>
				各个单个OKR得分相加 x 50% + 部门OKR得分 x 50% = 当月总得分
		</ul>
		<br>
		<ul class="states" >
			<h1>难度系数</h1>
				非常简单，简单，一般般，有点挑战，很大的挑战，完全超出能力范围
		</ul>
		<br>
		<ul class="states" >
			<h1>完成情况</h1>
				完全没有做到，和目标差距较大，和目标差距不大，基本上做到，完全做到，超出期望
		</ul>
		</article>
	</div>
</div>