<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Work Scrum</title>
        
        <!-- Vendor CSS -->
        <link href="/css/animate.min.css" rel="stylesheet">
        <link href="/css/material-design-iconic-font.min.css" rel="stylesheet">

        <!-- CSS -->
        <link href="/css/app.min.1.css" rel="stylesheet">
        <link href="/css/app.min.2.css" rel="stylesheet">
    </head>
    <body class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <p class="alert"><%= alert %></p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <%= f.email_field :email, autofocus: true,placeholder: 'email',class: 'form-control',style: "ime-mode:disabled"  %>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <%= f.password_field :password, autocomplete: "off",placeholder: 'password',class: 'form-control' %>
                    </div>
                </div>
                <input type="hidden" name="goUrl" value="${goUrl}">
                <div class="clearfix"></div>
                 <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            <% end %>
        </div>
        <!-- Javascript Libraries -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script src="/js/waves.min.js"></script>

        <script src="/js/functions.js"></script>
        
    </body>
</html>